# Data Science Tools and Ecosystem

## Author
Joe Sanz

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- Demonstrate Markdown Headers and Body Text
- List Common Data Science Libraries
- Demonstrate Arithmetic Operations in Code Cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Scikit-learn
- NumPy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335